@font-face {
    font-family: 'Manrope';
    src: url('/public/fonts/manrope/Manrope-Medium.woff2') format('woff2'),
         url('/public/fonts/manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
         url('/public/fonts/manrope/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/public/fonts/manrope/Manrope-Bold.woff2') format('woff2'),
         url('/public/fonts/manrope/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/helvetica-neue/HelveticaNeue-Roman.woff2') format('woff2'),
         url('/public/fonts/helvetica-neue/HelveticaNeue-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/fonts/helvetica-neue/HelveticaNeue-Medium.woff2') format('woff2'),
         url('/public/fonts/helvetica-neue/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/public/fonts/bebas-neue/BebasNeue-Regular.woff2') format('woff2'),
         url('/public/fonts/bebas-neue/BebasNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Deviantly Brush';
    src: url('/public/fonts/deviantly-brush/Deviantly Brush.woff2') format('woff2'),
         url('/public/fonts/deviantly-brush/Deviantly Brush.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
