.p-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.p-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    position: relative;
    cursor: pointer;

    svg {
        &:nth-child(1){
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: 52px;
            height: auto;
        }

        &:nth-child(2){
            width: 22px;
        }
    }
}

@media screen and (min-width: 768px) {
    .p-arrows {
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1200px) {
    .p-arrows {
        margin-top: fluid-type(1200px, 1920px, 21px, 44px);
        gap: 15px;
    }

    .p-arrow {
        width: fluid-type(1200px, 1920px, 52px, 81px);
        height: fluid-type(1200px, 1920px, 52px, 81px);

        svg {
            &:nth-child(1){
                width: fluid-type(1200px, 1920px, 52px, 81px);
            }
            &:nth-child(2){
                width: fluid-type(1200px, 1920px, 22px, 28px);
            }
        }
    }
}